In [1]:
#1. Python program to print "Hello Python"
print ("Hello Python")

Hello Python

In [2]:
#2. Python program to do arithmetical operations

# Get user input for the numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

# Print the results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Enter the first number: 10
Enter the second number: 2
Addition: 12.0
Subtraction: 8.0
Multiplication: 20.0
Division: 5.0

In [3]:
#3. Python program to find the area of a triangle

# Input the base and height of the triangle
a = float(input("Enter the base : "))
b = float(input("Enter the height : "))

# Calculate the area
area = 0.5 * a * b

# Display the result
print("The area of the triangle is:", area)

Enter the base : 50
Enter the height : 10
The area of the triangle is: 250.0

In [4]:
#4.Python program to solve quadratic equation

import cmath  # Importing the cmath module to handle complex square roots

# Input coefficients a, b, and c
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# Calculate the discriminant
d = (b**2) - (4*a*c)

# Find two solutions (handling complex roots with cmath)
x = (-b - cmath.sqrt(d)) / (2*a)
y = (-b + cmath.sqrt(d)) / (2*a)

# Output the results
print('The solutions are {0} and {1}'.format(x, y))

Enter a: 10
Enter b: 8
Enter c: 11
The solutions are (-0.4-0.9695359714832659j) and (-0.4+0.9695359714832659j)

In [7]:
#05. 1Python program to swap two variables

# Get input from the user
x = input("Enter the first value: ")
y = input("Enter the second value: ")

# Swap the values using a temporary variable
temp = x
x = y
y = temp

# Print the swapped values
print("The swapped values are:")
print("x =", x)
print("y =", y)

Enter the first value: 10
Enter the second value: 20
The swapped values are:
x = 20
y = 10

In [8]:
#6.Python Program to Generate a Random Number
import random  # Import the random module

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)

# Display the random number
print("Random number:", random_number)

Random number: 79

In [11]:
#7 .Python program to convert kilometers to miles
def kilometers_to_miles(kilometers):

  miles = kilometers * 0.621371
  return miles

# Get the distance in kilometers from the user
kilometers = float(input("Enter the distance in kilometers: "))

# Convert kilometers to miles
miles = kilometers_to_miles(kilometers)

# Print the result
print(f"{kilometers} kilometers is equal to {miles:.2f} miles.")

Enter the distance in kilometers: 11
11.0 kilometers is equal to 6.84 miles.

In [9]:
#8 Python program to convert Celsius to Fahrenheit

# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the result
print(f"{celsius}째C is equal to {fahrenheit}째F")

Enter temperature in Celsius: 6
6.0째C is equal to 42.8째F

In [12]:
#9.Python program to display calendar
import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month (1-12): "))

# Print the calendar for the specified year and month
print(calendar.month(year, month))

Enter the year: 2002
Enter the month (1-12): 5
      May 2002
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [13]:
#10.Python Program to check if a Number is Positive, Negative or Zero

def check_number(num):
  """Checks if a number is positive, negative, or zero."""
  if num > 0:
    print(f"{num} is positive.")
  elif num < 0:
    print(f"{num} is negative.")
  else:
    print(f"{num} is zero.")

# Get the number from the user
number = float(input("Enter a number: "))

# Check the number
check_number(number)

Enter a number: 5
5.0 is positive.

In [14]:
#11.Python Program to Check if a Number is Odd or Even

num = int(input("Enter The number: "))
if num % 2 == 0:
    print(f"{num} is Even.")
else:
    print(f"{num} is Odd.")

Enter The number: 6
6 is Even.

In [15]:
#12. Python Program to Chck Leap Yeare

# Function to check if a year is a leap year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

# Input from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year and display the result
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

In [16]:
#13. Python Program to Check Prime Number

# Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Input from the user
num = int(input("Enter a number: "))

# Check if the number is prime and display the result
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 30
30 is not a prime number.

In [17]:
#14.Python Program to Print all Prime Numbers in an Interval

start = int(input("Enter start of interval: "))
end = int(input("Enter end of interval: "))

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

Enter start of interval: 1
Enter end of interval: 11
2
3
5
7
11

In [18]:
#15.Python Program to Find the Factorial of a Number

def factorial(number):

  if number == 0 or number == 1:
    return 1
  else:
    return number * factorial(number - 1)

# Get the number from the user
number = int(input("Enter a number: "))

# Calculate the factorial
factorial_result = factorial(number)

# Print the result
print("The factorial of", number, "is", factorial_result)

Enter a number: 5
The factorial of 5 is 120

In [19]:
#16. Python Program to Display the Multiplication Table

def print_multiplication_table(number):
  for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

# Get the number from the user
number = int(input("Enter a number: "))

# Print the multiplication table
print_multiplication_table(number)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
#17.Python Program to Print the Fibonacci Sequence.

n = int(input("Enter the number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter the number of terms: 9
0 1 1 2 3 5 8 13 21

In [21]:
#18. Python Program to Check Armstrong Number

num = int(input("Enter a number: "))
order = len(str(num))
sum_of_digits = sum(int(digit) ** order for digit in str(num))

if num == sum_of_digits:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 1114
1114 is not an Armstrong number.

In [22]:
#19. Python Program to Find Armstrong Numbers in an Interval

start = int(input("Enter start of interval: "))
end = int(input("Enter end of interval: "))

for num in range(start, end + 1):
    order = len(str(num))
    if num == sum(int(digit) ** order for digit in str(num)):
        print(num)

Enter start of interval: 1
Enter end of interval: 500
1
2
3
4
5
6
7
8
9
153
370
371
407

In [23]:
#20. Python Program to Find the Sum of Natural Numbers
# Function to calculate the sum of natural numbers
def sum_of_natural_numbers(n):
    return n * (n + 1) // 2  # Formula for the sum of the first n natural numbers

# Input from the user
num = int(input("Enter a natural number: "))

# Check if the number is natural (positive)
if num < 1:
    print("Please enter a positive natural number.")
else:
    # Calculate and display the sum
    total = sum_of_natural_numbers(num)
    print(f"The sum of natural numbers up to {num} is: {total}")

Enter a natural number: 5
The sum of natural numbers up to 5 is: 15

In [24]:
#21. Python Program to Print Reverse of a String

string = input("Enter a string: ")
print(f"Reversed string is: {string[::-1]}")

Enter a string: Hi Python
Reversed string is: nohtyP iH

In [26]:
#22. Python Program to Print Sum of First Ten Natural Numbers

# Function to calculate the sum of the first ten natural numbers
def sum_of_first_ten_natural_numbers():
    return sum(range(1, 11))  # Sum of numbers from 1 to 10

# Calculate and display the sum
total = sum_of_first_ten_natural_numbers()
print(f"The sum of the first ten natural numbers is: {total}")

The sum of the first ten natural numbers is: 55

In [27]:
#23. Python Program to Find LCM

import math
def lcm(a, b):
    return abs(a*b) // math.gcd(a, b)

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"LCM of {x} and {y} is {lcm(x, y)}.")

Enter first number: 5
Enter second number: 6
LCM of 5 and 6 is 30.

In [28]:
#24. Python Program to Find HCF

import math  # Import the math module
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"HCF of {x} and {y} is {math.gcd(x, y)}.")

Enter first number: 50
Enter second number: 60
HCF of 50 and 60 is 10.

In [30]:
#25. Python Program to Convert Decimal to Binary, Octal, and Hexadecimal

# Function to convert decimal to binary, octal, and hexadecimal
def convert_decimal(number):
    binary = bin(number)   # Convert to binary
    octal = oct(number)    # Convert to octal
    hexadecimal = hex(number)  # Convert to hexadecimal
    return binary, octal, hexadecimal

# Input from the user
decimal_number = int(input("Enter a decimal number: "))

# Convert and display the results
binary, octal, hexadecimal = convert_decimal(decimal_number)
print(f"Decimal: {decimal_number}")
print(f"Binary: {binary[2:]}")        # Slicing to remove '0b' prefix
print(f"Octal: {octal[2:]}")          # Slicing to remove '0o' prefix
print(f"Hexadecimal: {hexadecimal[2:].upper()}")  # Slicing and converting to uppercase

Enter a decimal number: 14
Decimal: 14
Binary: 1110
Octal: 16
Hexadecimal: E

In [31]:
#26. Python Program To Find ASCII value of a Character

char = input("Enter a character: ")
print(f"ASCII value of '{char}' is {ord(char)}.")

Enter a character: B
ASCII value of 'B' is 66.

Enter your choice:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 5
Enter the first number: 6
Enter the second number: 5
Result: Invalid operation

In [34]:
#27. Python Program to Make a Simple Calculator
# Function to add two numbers
def add(x, y):
    return x + y

# Function to subtract two numbers
def subtract(x, y):
    return x - y

# Function to multiply two numbers
def multiply(x, y):
    return x * y

# Function to divide two numbers
def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Error! Division by zero."

# Main program
def calculator():
    # Input from the user
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))
    operation = input("Choose operation (+, -, *, /): ")

    # Perform the chosen operation and display the result
    if operation == '+':
        print(f"Result: {add(a, b)}")
    elif operation == '-':
        print(f"Result: {subtract(a, b)}")
    elif operation == '*':
        print(f"Result: {multiply(a, b)}")
    elif operation == '/':
        print(f"Result: {divide(a, b)}")
    else:
        print("Invalid operation!")

# Run the calculator
calculator()

Enter first number: 11
Enter second number: 14
Choose operation (+, -, *, /): +
Result: 25.0

In [35]:
#28. Python Program to Display Fibonacci Sequence Using Recursion

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n_terms = int(input("Enter number of terms: "))
for i in range(n_terms):
    print(fibonacci(i), end=' ')

Enter number of terms: 5
0 1 1 2 3

In [36]:
#29. Python Program to Find Factorial of a Number Using Recursion

def factorial_recursive(n):
  if n == 0:
    return 1
  else:
    return n * factorial_recursive(n - 1)

# Get the number from the user
num = int(input("Enter a number: "))

# Calculate and print the factorial
factorial_result = factorial_recursive(num)
print("The factorial of", num, "is:", factorial_result)

Enter a number: 7
The factorial of 7 is: 5040

In [42]:
#30. Python Program to Calculate the Power of a Number
# Function to calculate the power of a number
def power(base, exponent):
    return base ** exponent  # Using the exponentiation operator

# Input from the user
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent (power): "))

# Calculate and display the result
result = power(base, exponent)
print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base number: 11.14
Enter the exponent (power): 2
11.14 raised to the power of 2 is: 124.09960000000001

In [51]:
#31. Python Program to Add Two Matrices

# let a Example for 2x2 matrices be
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]
# len is to find the length of the Matrix Row and it column
result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]
for row in result:
    print(row)

[6, 8]
[10, 12]

In [52]:
#32. Python Program to Multiply Two Matrices

# Example for 2x2 matrices
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

result = [[0, 0], [0, 0]]

# Perform matrix multiplication
for i in range(len(matrix1)):   # Iterate happen over rows of matrix1
    for j in range(len(matrix2[0])):  # Iterate  happen over columns of matrix2
        for k in range(len(matrix2)):  # Iterate  happen over rows of matrix2
            result[i][j] += matrix1[i][k] * matrix2[k][j] # Multiply and accumulate

# Print the resulting matrix
for row in result:
    print(row)

[19, 22]
[43, 50]

In [53]:
#33. Python Program to Transpose a Matrix

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]# Transpose the matrix
# This creates a new matrix where rows become columns and vice versa

for row in transpose:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [54]:
#34. Python Program to Sort Words in Alphabetic Order
def sort_words_alphabetically(words):

  sorted_words = sorted(words)
  return sorted_words

# Get the words from the user
words = input("Enter the words separated by spaces: ").split()

# Sort the words alphabetically
sorted_words = sort_words_alphabetically(words)

# Print the sorted words
print("The sorted words are:", sorted_words)

Enter the words separated by spaces: My name is Titas.
The sorted words are: ['My', 'Titas.', 'is', 'name']

In [55]:
#35. Python Program to Remove Punctuation From a String

import string

def remove_punctuation(text):
  """Removes punctuation from a string."""
  translator = str.maketrans("", "", string.punctuation)
  return text.translate(translator)

# Get the text from the user
text = input("Enter the text: ")

# Remove punctuation
text_without_punctuation = remove_punctuation(text)

# Print the result
print("Text without punctuation:", text_without_punctuation)

Enter the text: My Id is : 1864
Text without punctuation: My Id is  1864

In [57]:
#36. Python Program to Convert List to String

lst = ['Hi', 'Sarker', '!!!']
result = " ".join(lst)
print(result)

Hi Sarker !!!

In [59]:
#37. Python Program to Convert Int to String

num = 420
print(f"String representation of number: {str(num)}")

String representation of number: 420

In [62]:
#38. Python Program to Concatenate Two Strings

st1 = "Hello"
st2 = " Python"
result = st1 + st2
print(result)

Hello Python

In [63]:
#39. Python Program to Generate a Random String
import random
import string

def generate_random_string(length):
  characters = string.ascii_letters + string.digits
  random_string = ''.join(random.choice(characters) for _ in range(length))
  return random_string

# Get the desired length from the user
length = int(input("Enter the desired length of the random string: "))

# Generate and print the random string
random_string = generate_random_string(length)
print("Random string:", random_string)

Enter the desired length of the random string: 6
Random string: lL3F9D

In [65]:
#40. Python Program to Check Whether a Given String is a Palindrome or Not
def is_palindrome(string):

  string = string.lower()  # Convert to lowercase to ignore case
  return string == string[::-1]

# Get the string from the user
string = input("Enter a string: ")

# Check if it's a palindrome
if is_palindrome(string):
  print(string, "is a palindrome.")
else:
  print(string, "is not a palindrome.")

Enter a string: Hello Python Mama
Hello Python Mama is not a palindrome.

In [66]:
#41. Convert the String into Lowercase to Uppercase and Vice Versa

string = input("Enter a string: ")
swapped = string.swapcase()
print(f"Swapped case: {swapped}")

Enter a string: Life is Good
Swapped case: lIFE IS gOOD

In [68]:
#42. Python Program to Find the Occurrence of a Substring Within a String

string = input("Enter the main string: ")
substring = input("Enter the substring to find: ")
count = string.count(substring)
print(f"'{substring}' occurs {count} times in the string.")

Enter the main string: Python Program to Find the Occurrence of a Substring Within a String
Enter the substring to find: Find
'Find' occurs 1 times in the string.

In [69]:
#43. Python Program to Append Element in the List

lst = [1, 2, 3, 4, 5, 6, 7]
a = int(input("Enter element to append: "))
lst.append(a)
print("Updated list:", lst)

Enter element to append: 11
Updated list: [1, 2, 3, 4, 5, 6, 7, 11]

In [70]:
#44. Python Program to Compare Two Lists

list1 = [1, 2, 3]
list2 = [1, 2, 3]

if list1 == list2:
    print("Both lists are equal.")
else:
    print("Lists are not equal.")

Both lists are equal.

In [73]:
#45. Python Program to Convert List to Dictionary

keys = ['Name', 'Age', 'City']
values = ['Titas', 21, 'Mymenshingh']
#mapping the keys and values in the dictionary
dictionary = dict(zip(keys, values))
print("Converted dictionary:", dictionary)

Converted dictionary: {'Name': 'Titas', 'Age': 21, 'City': 'Mymenshingh'}

In [74]:
#46. Python Program to Remove an Element from a List

lst = [1, 2, 3, 4, 5]
a = int(input("Enter element to remove: "))
lst.remove(a)#remove the element f
print("Updated list:", lst)

Enter element to remove: 2
Updated list: [1, 3, 4, 5]

In [75]:
#47. Python Program to Add Two Lists

list1 = [1, 2, 3, 4, 5 ]
list2 = [6, 7, 8, 9, 10]

result = list1 + list2#join or adding to list into new one
print("Combined list:", result)

Combined list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
#48. Python Program to Convert List to Set
def convert_list_to_set(lst):
  set_from_list = set(lst)
  return set_from_list

# Get the elements of the list
list_elements = input("Enter the elements of the list separated by spaces: ").split()

# Convert the list to a set
set_from_list = convert_list_to_set(list_elements)

# Print the set
print("The set from the list is:", set_from_list)

Enter the elements of the list separated by spaces: 1,2,3,4
The set from the list is: {'1,2,3,4'}

In [77]:
#49. Python Program to Convert List to String

lst = ['Life', 'is', 'Ossam!']
result = " ".join(lst)
print("Converted string:", result)

Converted string: Life is Ossam!

In [79]:
#50. Python Program to Remove Duplicates from a List

a = [1, 2, 2, 3, 4, 4, 5,5,6]
b = list(set(a))#convert to set to remove duplicates
print("List after removing duplicates:", b)

List after removing duplicates: [1, 2, 3, 4, 5, 6]